# Data Source: EdX Courses from Harvard and MIT

In [2]:
import pandas as pd

### Data

In [3]:
# https://www.kaggle.com/edx/course-study

df = pd.read_csv("data/appendix.csv")

In [10]:
df.head()

,Institution,Course Number,Launch Date,Course Title,Instructors,Course Subject,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),...,% Certified of > 50% Course Content Accessed,% Played Video,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
0,MITx,6.002x,09/05/2012,Circuits and Electronics,Khurram Afridi,"Science, Technology, Engineering, and Mathematics",1,1,36105,5431,...,54.98,83.2,8.17,28.97,418.94,64.45,26.0,88.28,11.72,60.68
1,MITx,6.00x,09/26/2012,Introduction to Computer Science and Programming,"Eric Grimson, John Guttag, Chris Terman",Computer Science,1,1,62709,8949,...,64.05,89.14,14.38,39.50,884.04,78.53,28.0,83.50,16.50,63.04
2,MITx,3.091x,10/09/2012,Introduction to Solid State Chemistry,Michael Cima,"Science, Technology, Engineering, and Mathematics",1,1,16663,2855,...,72.85,87.49,14.42,34.89,227.55,61.28,27.0,70.32,29.68,58.76
3,HarvardX,CS50x,10/15/2012,Introduction to Computer Science,"David Malan, Nate Hardison, Rob Bowden, Tommy ...",Computer Science,1,1,129400,12888,...,11.11,0,0.00,1.11,220.90,0.00,28.0,80.02,19.98,58.78
4,HarvardX,PH207x,10/15/2012,Health in Numbers: Quantitative Methods in Cli...,"Earl Francis Cook, Marcello Pagano","Government, Health, and Social Science",1,1,52521,10729,...,47.12,77.45,15.98,32.52,804.41,76.10,32.0,56.78,43.22,88.33

### Explore Dataset

In [12]:
# List the columns

list(df.columns)

['Institution',
 'Course Number',
 'Launch Date',
 'Course Title',
 'Instructors',
 'Course Subject',
 'Year',
 'Honor Code Certificates',
 'Participants (Course Content Accessed)',
 'Audited (> 50% Course Content Accessed)',
 'Certified',
 '% Audited',
 '% Certified',
 '% Certified of > 50% Course Content Accessed',
 '% Played Video',
 '% Posted in Forum',
 '% Grade Higher Than Zero',
 'Total Course Hours (Thousands)',
 'Median Hours for Certification',
 'Median Age',
 '% Male',
 '% Female',
 "% Bachelor's Degree or Higher"]

In [17]:
# course subjects

df['Course Subject'].unique()

array(['Science, Technology, Engineering, and Mathematics',
       'Computer Science', 'Government, Health, and Social Science',
       'Humanities, History, Design, Religion, and Education'],
      dtype=object)

In [26]:
# This dataset contains data from four academic years, starting with 2012-2013

df[['Launch Date', 'Year']]

    Launch Date  Year
0    09/05/2012     1
1    09/26/2012     1
2    10/09/2012     1
3    10/15/2012     1
4    10/15/2012     1
..          ...   ...
285  07/21/2016     4
286  07/25/2016     4
287  08/01/2016     4
288  08/01/2016     4
289  08/03/2016     4

[290 rows x 2 columns]

In [28]:
# There is no missing data

df.describe().round()

,Year,Honor Code Certificates,Participants (Course Content Accessed),Audited (> 50% Course Content Accessed),Certified,% Audited,% Certified,% Certified of > 50% Course Content Accessed,% Posted in Forum,% Grade Higher Than Zero,Total Course Hours (Thousands),Median Hours for Certification,Median Age,% Male,% Female,% Bachelor's Degree or Higher
count,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0,290.0
mean,3.0,1.0,15344.0,2549.0,844.0,25.0,8.0,31.0,9.0,21.0,95.0,44.0,29.0,67.0,33.0,72.0
std,1.0,0.0,28208.0,3095.0,1106.0,16.0,7.0,20.0,8.0,13.0,158.0,44.0,4.0,16.0,16.0,10.0
min,1.0,0.0,322.0,187.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,25.0,7.0,45.0
25%,3.0,1.0,3815.0,755.0,140.0,14.0,2.0,13.0,4.0,11.0,13.0,12.0,26.0,54.0,18.0,65.0
50%,3.0,1.0,7902.0,1517.0,396.0,20.0,6.0,31.0,7.0,20.0,38.0,27.0,29.0,67.0,33.0,73.0
75%,4.0,1.0,18038.0,3383.0,1202.0,34.0,11.0,48.0,14.0,31.0,97.0,64.0,31.0,82.0,46.0,79.0
max,4.0,1.0,301082.0,25637.0,5783.0,84.0,34.0,77.0,35.0,52.0,895.0,252.0,53.0,93.0,75.0,98.0